<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blog</title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="../static/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/signup.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills mb-3 float-lg-right" id="pills-tab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="signin">Sign in</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="signup">Sign up</a>
                  </li>
                </ul>       
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
         <div class="jumbotron">
             <h1>{{error}}</h1>
        </div>
    </div>
    <footer class="footer">
        <p>© etaman.com 2017</p>
    </footer>
</body>
